**/.gradle
.gradle/
**/.settings
.ant-targets-build.xml
.ant_targets
.eslintrc
.gh.json
.sass-cache
.sass_cache_*.css
/bin
/build
build/
/build.*.properties
/WEB-INF
/node_modules
node_modules/
target/
_sass_cache_*.css
*.sass-cache*
.sass-cache/
buildDeployRefresh.sh